.container {
  background-image: url("/nav-bg.jpeg");
  // border: solid 2px red;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.nav {
  /* background-color: blue; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 60vw;
  position: relative;
}

.navMenu {
  // border: solid 2px purple;
  color: aliceblue;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  /* gap: 2rem; */
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  width: 28vw;
}

.navContent {
  // border: solid 2px red;
  display: flex;
  gap: 2rem;
  flex-flow: row nowrap;
  align-items: space-around;
  justify-content: baseline;
  font-family: var(--primary-font);
  min-width: 160px;
  padding: 0.2rem;
}

.navContent > li {
  // border: solid 2px blue;
  display: flex;
  flex-flow: row nowrap;
  gap: 1.2rem;
  /* padding: 0 0 0.2rem 0; */
  align-items: center;
}

.navContent > li:hover {
  a {
    color: #36c0cc;
  }
}

.navContent a {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
}

.menuIcon {
  height: 1.8rem;
  color: white;
}

.img {
  height: 8vh;
  width: 26vw;
}
