.container {
  background-image: url("/nav-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.nav {
  /* background-color: blue; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 60vw;
  position: relative;
}

.navMenu {
  color: aliceblue;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  width: 18vw;
}

.navContent {
  display: flex;
  gap: 1rem;
  flex-flow: row nowrap;
  align-items: space-around;
  font-family: var(--primary-font);
  min-width: 160px;
}

.navContent a {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: white;
}

.menuIcon {
  height: 1.8rem;
  color: white;
}

.img {
  height: 8vh;
  width: 26vw;
}
